{% extends "main.html" %}
{% block head %}
    {{ super() }}
    <title>
        Categories - All The Categories Made By You
    </title>
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="items">
        <h1>
            Items
        </h1>
        <div class="item_list">
            <ul>
        {% for item in items %}
                <li>
                    {{ item.name }}
                </li>
        {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
